// Background box styles

.main-about {
    position: relative;
    top: 0;
    left: 0;
    margin-top: 40px;
}

.about-background-box {
    background-color: $orange;
    opacity: 0.1;
    height: 103%;
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	z-index: 800;
}

.about-main-content {
	position: relative;
	top: 0;
	left: 0;
    z-index: 900;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 1000px;
    margin: 0 auto;
	z-index: 800;
	margin-bottom: 50px;
}

.textbox {
	padding-bottom: 20px;
}

@media (min-width: 500px) {

.about-main-content {
    padding-left: 30px;
    padding-right: 30px;
}

}

@media (min-width: 700px) {

.image-text-combo {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 800px;
	margin: 0 auto;
}

.textbox {
	width: 43%;
}

.image-box {
	width: 57%;
	margin-left: 30px;
}

.about-img-column img {
	max-width: 57%;
}

}