// Background box styles

.main-contact {
    position: relative;
    top: 0;
    left: 0;
}

.contact-background-box {
    background-color: $orange;
    opacity: 0.1;
    height: 100%;
    width: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 800;
}

.contact-main-content {
	position: relative;
	top: 0;
	left: 0;
    z-index: 900;
    padding-left: 15px;
    padding-right: 15px;
}


// Main Styles

.top-banner .contact-h1 {
    font-size: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 25px;
}

.address-block {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 30px;
}

.address p:first-child {
    text-transform: uppercase;
    font-weight: bold;
}

.address p {
    margin-bottom: 0;
    margin-top: 2px;
    text-align: center;
}

.main-image {
    margin: 0 auto;
    max-width: 800px; 
    margin-bottom: 15px;
}

.google-map {
    max-width: 100%;
    height: 300px;
    margin-bottom: 15px;
}

.google-map iframe {
    max-width: 100%;
    height: 300px;
}

.hours-content {
    margin-bottom: 15px;
}

.hours-content h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.hours-columns {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hours-col-02 {
    margin-left: 15px;
}

.hours-col-01 p, .hours-col-02 p {
    margin-bottom: 5px;
    margin-top: 2px;
}

.contact-section {
    max-width: 800px;
}

.contact-section h3 {
    font-size: 20px;
    text-align: center;
}

.form input, .form textarea {
    color: black;
    margin-bottom: 10px;
    border: 1px solid black;
    padding: 10px;
    width: 100%;
}

.form textarea::placeholder, .form input::placeholder {
    color: black;
    font-family: $main-font;
    font-size: 14px;
}

.btn-submit {
    border: 1px solid black;
    width: 100px;
    padding: 10px 20px;
    background-color: white;
    color: black;
    font-family: $main-font;
    font-size: 16px;
    box-shadow: 2px 3px $orange;
    border-radius: 3px;
}

.contact-info {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

.contact-info p {
    margin-top: 0;
    margin-bottom: 5px;
}

@media (min-width: 440px) {
    .contact-section h3 {
        text-align: left;
    }

    .form-inputs {
        display: flex;
        justify-content: space-between;
    }

    .form-inputs input:nth-child(2), .form-inputs input:last-child {
        margin-left: 5px;
    }

}

@media (min-width: 484px) {

    .hours-content {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .contact-section {
        margin-top: 40px;
        max-width: auto;
        margin: 0 auto;
    }
}

@media (min-width: 600px) {

    .hours-section {
        display: flex;
        justify-content: center;
        flex-direction: row-reverse;
        max-width: 800px;
        margin: 0 auto;
    }

    .hours-content {
        width: 350px;
        margin-top: 0;
    }

    
    .hours-content h2 {
        display: block;
        margin-left: 30px;
    }
    
    .hours-columns {
        display: flex;
        justify-content: left;
        margin-left: 30px;
    }

    .hours-content h2 {
        margin-top: 0;
    }

}

@media (min-width: 650px) {

    .hours-content {
        width: 280px;
    }
}

@media (min-width: 700px) {

    .top-banner .contact-h1 {
        font-size: 70px;
    }
}

    
@media (min-width: 800px) {

    .hours-content {
        width: 230px;
    }
}

@media (min-width: 820px) {

    .hours-content {
        width: 220px;
    }
}