footer {
	background-color: $orange;
	justify-content: space-between;
	padding-left: 15px;
	padding-right: 15px;
}

.footer-row-01 {
	display: flex;
	justify-content: center;
	align-items: flex-start;
}

footer .social-icons {
	display: flex;
	justify-content: space-around;
	align-items: center;
	line-height: 1.4em;
	cursor: pointer;
	margin-top: 25px;
}

footer .social-icons img {
	width: 20px;
	margin-left: 5px;
}

footer li {
	list-style: none;
}

footer .footer-nav li a {
	color: white;
	text-shadow: 1px 2px $dark-orange;
	font-size: 14px;
}

.footer-col-01, .footer-col-02 {
	display: flex;
}

.footer-col-01 li:last-child {
	margin-left: 20px;
}

.footer-col-02 li:last-child {
	margin-left: 35px;
}

.footer-col-01 a, .footer-col-02 a {
	display: inline-block;
	position: relative;
	padding-bottom: 0px;
	transition: color .35s ease;
  }
  
  .footer-col-01 a:before, .footer-col-02 a:before {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	bottom: 0;
	height: 2px;
	width: 0;
	transition: width 0s ease, background .35s ease;
  }
  .footer-col-01 a:after, .footer-col-02 a:after {
	content: '';
	display: block;
	position: absolute;
	right: 0;
	bottom: 0;
	height: 2px;
	width: 0;
	background: white;
	transition: width .35s ease;
  }
  .footer-col-01 a:hover:before, .footer-col-02 a:hover:before {
	width: 100%;
	background: $dark-orange;
	transition: width .35s ease;
  }
  .footer-col-01 a:hover:after, .footer-col-02 a:hover:after {
	width: 100%;
	background: transparent;
	transition: all 0s ease;
  }

#copyright {
	color: white;
	font-size: 12px;
	text-shadow: 1px 2px $dark-orange;
	text-align: center;
	padding-top: 10px;
}

#copyright p {
	margin-top: 0;
	margin-bottom: 0;
	padding-bottom: 15px;
	font-size: 14px;
}

#copyright p:first-child {
	padding-bottom: 10px;
}

@media (min-width: 600px) {
	.cta {
		display: flex;
		flex-wrap: wrap;
	}

	.footer-nav {
		display: flex;
		justify-content: space-between;
	}

	.footer-col-01 li:last-child {
		margin-left: 0px;
	}
	
	.footer-col-02 li:last-child {
		margin-left: 0px;
	}

	.footer-nav li a {
		margin-left: 40px;
	}
}


