footer {
	background-color: $orange;
	display: flex;
	justify-content: space-between;
	padding-left: 15px;
	padding-right: 15px;
}

#copyright p{
	margin:0;
}

footer .social-icons {
	display: flex;
	justify-content: space-around;
	align-items: center;
	line-height: 1.4em;
}

footer .social-icons img {
	width: 20px;
	margin-left: 5px;
}

footer .footer-nav li a {
	color: white;
	text-shadow: 1px 2px $dark-orange;
	margin-left: 15px;
	font-size: 14px;
}

footer .footer-nav {
	display: flex;
	line-height: 1.4em;
	padding-left: 0;
}

// Temporary
#copyright {
	display: none;
}

