h1, h2, h3, p, li, a  {
	font-family: $main-font;
}

h1, h2, h3 {
	font-weight: 700;
}

p {
	font-size: 16px;
}

// main {
//     position: relative;
//     top: 0;
//     left: 0;
// }

// .background-box {
//     background-color: $orange;
//     opacity: 0.1;
//     height: 100%;
//     width: 70%;
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%);
//     z-index: 800;
// }

// .main-content {
// 	position: relative;
// 	top: 0;
// 	left: 0;
// 	z-index: 900;
// }

// main .main-content {
// 	padding: 0;
// }

html {
	scroll-behavior: smooth;
}