// Background box styles

.main-beer {
    position: relative;
    top: 0;
    left: 0;
}

.beer-background-box {
    background-color: $orange;
    opacity: 0.1;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 800;
}

.beer-main-content {
	position: relative;
	top: 0;
	left: 0;
    z-index: 900;
    padding-left: 15px;
    padding-right: 15px;
}


// Main Styles

.main-content {
    padding-left: 15px;
    padding-right: 15px;
}

.buttons {
    display: flex;
    padding-bottom: 20px;
    padding-top: 30px;
}

.btn-beer, .btn-snacks {
    border: none;
    width: 100px;
    padding: 10px 20px;
    background-color: white;
    color: black;
    font-family: $main-font;
    font-weight: 700;
    font-size: 16px;
    box-shadow: 2px 3px $orange;
    border-radius: 3px;
    border: 1px solid black;
}

.beer-button {
    margin-right: 10px;
}

.beer h2 {
    font-size: 20px;
    margin-bottom: 15px;
}

.beer-name p:first-child {
    font-weight: 700;
    margin-bottom: 0;
    margin-top: 0;
}

.beer-name p:last-child {
    margin-top: 5px;
}

.line {
    width: 100%;
    height: 2px;
    background-color: $orange;
}

.beer-label {
    display: flex;
    justify-content: space-between;
    font-weight: 700;
}

.beer-label p {
    margin-bottom: 0;
}

.beer-content {
    display: flex;
    justify-content: space-between;
}

.beer-content p {
    margin-top: 5px;
}

.beer-listing {
    padding: 30px 20px;
    margin-bottom: 30px;
    background-color: white;
}

@media (min-width: 600px) {
    
    .beer-listing {
        display: flex;
        justify-content: space-between;
    }
    
    .beer-label p, .beer-content p {
        padding-left: 30px;
    }

    .beer-label p {
        padding-left: 40px;
    }

    .beer-info p {
        margin-top: 0;
        // padding-left: 40px;
    }
}