// Resets

// Box Sizing Reset
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

// Image Reset
img {
    max-width: 100%;
    height: auto;
}

// Remove margins on body
body {
    margin: 0;
}