// Background box styles

.main-tasting {
    position: relative;
    top: 0;
    left: 0;
    margin-top: 40px;
}

.tasting-background-box {
    background-color: $orange;
    opacity: 0.1;
    height: 100%;
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 800;
}

.tasting-main-content {
	position: relative;
	top: 0;
	left: 0;
    z-index: 900;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 1000px;
    margin: 0 auto;
	z-index: 800;
	margin-bottom: 50px;
}

// Main Styles

.top-banner .tasting-h1 {
    font-size: 8vw;
    position: absolute;
	top: 50%;
	left: 50%;
    transform: translate(-50%, -50%);
    z-index: 600;
}

.textbox {
	padding-bottom: 20px;
}

@media (min-width: 500px) {
    .tasting-main-content {
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media (min-width: 700px) {

.image-text-combo {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 800px;
	margin: 0 auto;
}

.textbox {
	width: 43%;
}

.image-box {
	width: 57%;
	margin-left: 40px;
}

.tasting-img-column img {
	max-width: 57%;
}

}

@media (min-width: 750px) {

    .tasting-main-content {
        padding-top: 30px;
    }

    .top-banner .tasting-h1 {
        z-index: 0;
    }
}

@media (min-width: 1100px) {

    .top-banner .tasting-h1 {
        font-size: 90px;
    }
}