html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

img {
  max-width: 100%;
  height: auto; }

body {
  margin: 0; }

h1, h2, h3, p, li, a {
  font-family: "courier"; }

h1, h2, h3 {
  font-weight: 700; }

p {
  font-size: 16px; }

a {
  text-decoration: none;
  color: rgba(34, 34, 34, 0.8); }

a:hover, a :focus {
  color: black; }

.top-banner img {
  position: relative;
  top: 0;
  left: 0;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto; }

.top-banner .sub {
  font-family: "courier";
  color: white;
  margin: 0;
  font-size: 8vw;
  text-align: center;
  text-shadow: 2px 3px #d66a42;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 600; }

@media (min-width: 750px) {
  .top-banner .sub {
    z-index: 0; } }
@media (min-width: 1100px) {
  .top-banner .sub {
    font-size: 90px; } }
.top-banner {
  position: relative; }

#navigation {
  width: 100%; }

#navigation img {
  width: 100px;
  position: absolute;
  top: 0;
  left: 3%; }

.nav-logo {
  width: 100px; }

.nav-menu {
  position: absolute;
  top: 0;
  right: 0;
  max-width: 100%;
  height: auto;
  z-index: 900; }

.nav-menu .nav-toggle {
  display: block;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0;
  right: 3%; }

.nav-menu .nav-toggle span {
  display: block;
  height: 5px;
  width: 35px;
  background-color: white;
  margin-bottom: 5px;
  border-radius: 3px;
  box-shadow: 1px 2px #d66a42;
  position: relative;
  top: 0;
  left: 0;
  z-index: 9999; }

.menu-left {
  background-color: rgba(204, 204, 204, 0.85);
  height: auto;
  width: 100%;
  position: absolute;
  top: -20px;
  left: 0; }

.menu-left li:first-child {
  padding-top: 60px; }

.menu-left li:last-child {
  padding-bottom: 50px; }

.menu-left li {
  list-style: none; }

.menu-left li a {
  text-decoration: none;
  color: black;
  font-family: 'Courier';
  font-weight: 700;
  font-size: 20px; }

.nav-menu {
  width: 100vh; }

.menu-left a {
  display: inline-block;
  position: relative;
  padding-bottom: 0px;
  transition: color .35s ease; }

.menu-left a:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  transition: width 0s ease, .35s ease; }

.menu-left a:after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background: white;
  transition: width .35s ease; }

.menu-left a:hover:before {
  width: 100%;
  background: #d66a42;
  transition: width .35s ease; }

.menu-left a:hover:after {
  width: 100%;
  background: transparent;
  transition: all 0s ease; }

ul {
  clear: both; }

ul li {
  padding: .5em 0; }

.hide-nav {
  transform: translateY(-120%);
  -webkit-transform: translateY(-120%); }

ul.menu-left {
  display: block;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  z-index: 10; }

ul.menu-left:before {
  content: '';
  display: table;
  clear: both; }

ul.menu-left.collapse {
  max-height: 15em; }

.nav-toggle {
  display: block;
  border-radius: 5px;
  background-color: transparent;
  float: right;
  height: 38px;
  width: 38px;
  cursor: pointer;
  padding: 8px 8px; }

.nav-toggle.open span:first-child {
  transform: rotate(45deg) translate(8px, 8px); }

.nav-toggle.open span:nth-child(2) {
  width: 0%;
  opacity: 0; }

.nav-toggle.open span:last-child {
  transform: rotate(-45deg) translate(5px, -5px); }

@media (min-width: 560px) {
  .menu-left {
    height: 500px; } }
@media (min-width: 600px) {
  #navigation img {
    width: 120px; }

  .nav-logo {
    width: 120px; } }
@media (min-width: 750px) {
  #navigation img {
    width: 150px; }

  .nav-logo {
    width: 150px; }

  .nav-menu {
    position: static; } }
@media (min-width: 1000px) {
  .nav-menu {
    margin-right: 20px;
    right: 3%;
    position: absolute;
    top: 0; }

  ul.menu-left {
    max-height: 50px;
    display: flex;
    justify-content: space-between;
    top: 0px;
    background: none;
    position: absolute;
    top: 0;
    right: 0; }

  .nav-menu .nav-toggle {
    display: none; }

  .menu-left li a {
    font-size: 25px; }

  .menu-left li a {
    color: white;
    text-shadow: 1px 2px #d66a42; }

  .menu-left li:first-child {
    padding: .5em; } }
html {
  scroll-behavior: smooth; }

body {
  background-color: white; }

footer {
  background-color: #d66a42;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px; }

.footer-row-01 {
  display: flex;
  justify-content: center;
  align-items: flex-start; }

footer .social-icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  line-height: 1.4em;
  cursor: pointer;
  margin-top: 25px; }

footer .social-icons img {
  width: 20px;
  margin-left: 5px; }

ul.footer-col-01 {
  padding-bottom: 0;
  margin-bottom: 0; }

ul.footer-col-02 {
  padding-top: 0;
  margin-top: 0; }

footer li {
  list-style: none; }

footer .footer-nav li a {
  color: white;
  text-shadow: 1px 2px #964a2f;
  font-size: 14px; }

.footer-col-01, .footer-col-02 {
  display: flex; }

.footer-col-01 li:last-child {
  margin-left: 20px; }

.footer-col-02 li:last-child {
  margin-left: 46px; }

.footer-col-01 a, .footer-col-02 a {
  display: inline-block;
  position: relative;
  padding-bottom: 0px;
  transition: color .35s ease; }

.footer-col-01 a:before, .footer-col-02 a:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  transition: width 0s ease, .35s ease; }

.footer-col-01 a:after, .footer-col-02 a:after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background: white;
  transition: width .35s ease; }

.footer-col-01 a:hover:before, .footer-col-02 a:hover:before {
  width: 100%;
  background: #964a2f;
  transition: width .35s ease; }

.footer-col-01 a:hover:after, .footer-col-02 a:hover:after {
  width: 100%;
  background: transparent;
  transition: all 0s ease; }

#copyright {
  color: white;
  font-size: 12px;
  text-shadow: 1px 2px #964a2f;
  text-align: center;
  padding-top: 10px; }

#copyright p {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 15px;
  font-size: 14px; }

#copyright p:first-child {
  padding-bottom: 10px; }

@media (min-width: 600px) {
  .cta {
    display: flex;
    flex-wrap: wrap; }

  .footer-nav {
    display: flex;
    justify-content: space-between; }

  ul.footer-col-02 {
    margin-top: 16px;
    padding-left: 0; }

  .footer-col-01 li:last-child {
    margin-left: 0px; }

  .footer-col-02 li:last-child {
    margin-left: 0px; }

  .footer-nav li a {
    margin-left: 40px; } }
.main-about {
  position: relative;
  top: 0;
  left: 0;
  margin-top: 40px; }

.about-background-box {
  background-color: #d66a42;
  opacity: 0.1;
  height: 103%;
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 800; }

.about-main-content {
  position: relative;
  top: 0;
  left: 0;
  z-index: 900;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1000px;
  margin: 0 auto;
  z-index: 800;
  margin-bottom: 50px; }

.textbox {
  padding-bottom: 20px; }

@media (min-width: 500px) {
  .about-main-content {
    padding-left: 30px;
    padding-right: 30px; } }
@media (min-width: 700px) {
  .image-text-combo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 800px;
    margin: 0 auto; }

  .textbox {
    width: 43%; }

  .image-box {
    width: 57%;
    margin-left: 30px; }

  .about-img-column img {
    max-width: 57%; } }
.main-tasting {
  position: relative;
  top: 0;
  left: 0;
  margin-top: 40px; }

.tasting-background-box {
  background-color: #d66a42;
  opacity: 0.1;
  height: 100%;
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 800; }

.tasting-main-content {
  position: relative;
  top: 0;
  left: 0;
  z-index: 900;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1000px;
  margin: 0 auto;
  z-index: 800;
  margin-bottom: 50px; }

.textbox {
  padding-bottom: 20px; }

@media (min-width: 500px) {
  .tasting-main-content {
    padding-left: 30px;
    padding-right: 30px; } }
@media (min-width: 700px) {
  .image-text-combo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 800px;
    margin: 0 auto; }

  .textbox {
    width: 43%; }

  .image-box {
    width: 57%;
    margin-left: 40px; }

  .tasting-img-column img {
    max-width: 57%; } }
@media (min-width: 750px) {
  .tasting-main-content {
    padding-top: 30px; } }
.main-beer {
  position: relative;
  top: 0;
  left: 0; }

.beer-background-box {
  background-color: #d66a42;
  opacity: 0.1;
  height: 98%;
  width: 98%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 800; }

.beer-main-content {
  position: relative;
  top: 0;
  left: 0;
  z-index: 900;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1000px;
  margin: 0 auto;
  z-index: 800; }

.main-content {
  padding-left: 15px;
  padding-right: 15px; }

.buttons {
  display: flex;
  padding-bottom: 20px;
  padding-top: 50px;
  padding-left: 20px; }

.btn-beer, .btn-snacks {
  border: none;
  width: 100px;
  padding: 10px 20px;
  background-color: white;
  color: black;
  font-family: "courier";
  font-weight: 700;
  font-size: 16px;
  box-shadow: 2px 3px #d66a42;
  border-radius: 3px;
  border: 1px solid black;
  text-align: center;
  cursor: pointer; }

.beer-button {
  margin-right: 10px; }

.beer h2 {
  font-size: 20px;
  margin-bottom: 15px;
  padding-left: 20px; }

.beer-name p:first-child {
  font-weight: 700;
  margin-bottom: 0;
  margin-top: 0; }

.beer-name p:last-child {
  margin-top: 5px; }

.line {
  width: 100%;
  height: 2px;
  background-color: #d66a42; }

.beer-label {
  display: flex;
  justify-content: space-between;
  font-weight: 700; }

.beer-label p {
  margin-bottom: 0; }

.beer-content {
  display: flex;
  justify-content: space-between; }

.beer-content p {
  margin-top: 5px; }

.beer-listing, .snacks-listing {
  padding: 30px 20px;
  margin-bottom: 30px;
  background-color: white; }

.snack-name p:first-child {
  font-weight: 700; }

.snacks {
  padding-bottom: 30px; }

@media (min-width: 600px) {
  .beer-listing, .snacks-listing {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px; }

  .beer-label p, .beer-content p {
    padding-left: 30px; }

  .beer-label p {
    padding-left: 40px; }

  .beer-info p {
    margin-top: 0; }

  .line {
    display: none; }

  .line-wide {
    width: 90%;
    height: 2px;
    background-color: #d66a42;
    margin: 0 auto; }

  .white-box {
    background-color: white;
    width: auto;
    height: 30px; }

  .beer-listing-wide, .snacks-listing-wide {
    background-color: white;
    margin-bottom: 30px; }

  .beer h2 {
    padding-left: 40px; } }
.main-contact {
  position: relative;
  top: 0;
  left: 0; }

.contact-background-box {
  background-color: #d66a42;
  opacity: 0.1;
  height: 100%;
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 800; }

.contact-main-content {
  position: relative;
  top: 0;
  left: 0;
  z-index: 900;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1000px;
  margin: 0 auto;
  z-index: 800;
  margin-bottom: 50px; }

.address-block {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  margin-top: 30px; }

.address p:first-child {
  text-transform: uppercase;
  font-weight: bold; }

.address p {
  margin-bottom: 0;
  margin-top: 2px;
  text-align: center; }

.main-image {
  margin: 0 auto;
  max-width: 800px;
  margin-bottom: 15px; }

.google-map {
  max-width: 100%;
  height: 300px;
  margin-bottom: 15px; }

.google-map iframe {
  max-width: 100%;
  height: 300px; }

.hours-content {
  margin-bottom: 15px; }

.hours-content h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px; }

.hours-columns {
  display: flex;
  justify-content: center;
  align-items: center; }

.hours-col-02 {
  margin-left: 15px; }

.hours-col-01 p, .hours-col-02 p {
  margin-bottom: 5px;
  margin-top: 2px; }

.contact-section {
  max-width: 800px; }

.contact-section h3 {
  font-size: 20px; }

.form input, .form textarea {
  color: black;
  margin-bottom: 10px;
  border: 1px solid black;
  padding: 10px;
  width: 100%; }

.form-preferred-method {
  background-color: white;
  border: 1px solid black;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px; }

.checkboxes {
  display: flex; }

.form-preferred-method p, .form-preferred-day p, .reason-for-contact p {
  padding-left: 10px;
  font-size: 14px; }

.checkbox-container-01, .checkbox-container-02 {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: "courier";
  font-size: 14px;
  padding-top: 4px; }

.checkbox-container-01 input, .checkbox-container-02 input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0; }

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee; }

.checkbox-container-01:hover input ~ .checkmark, .checkbox-container-02:hover input ~ .checkmark {
  background-color: #ccc; }

.checkbox-container-01 input:checked ~ .checkmark, .checkbox-container-02 input:checked ~ .checkmark {
  background-color: black; }

.checkmark:after {
  content: "";
  position: absolute;
  display: none; }

.checkbox-container-01 input:checked ~ .checkmark::after, .checkbox-container-02 input:checked ~ .checkmark::after {
  display: block; }

.checkbox-container-01 .checkmark:after, .checkbox-container-02 .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

.checkbox-container-02 {
  margin-left: 15px;
  margin-right: 10px; }

.form-preferred-day {
  background-color: white;
  border: 1px solid black;
  margin-bottom: 10px;
  padding-left: 10px; }

.radio-buttons {
  display: flex;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px; }

.radio-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: "courier";
  font-size: 14px;
  padding-right: 10px; }

.radio-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer; }

.radio-checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%; }

.radio-container:hover input ~ .radio-checkmark {
  background-color: #ccc; }

.radio-container input:checked ~ .radio-checkmark {
  background-color: black; }

.radio-checkmark:after {
  content: "";
  position: absolute;
  display: none; }

.radio-container input:checked ~ .radio-checkmark:after {
  display: block; }

.radio-container .radio-checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white; }

.reason-for-contact {
  background-color: white;
  border: 1px solid black;
  font-family: "courier";
  font-size: 14px;
  margin-bottom: 10px;
  padding: 15px 10px;
  position: relative;
  font-family: "courier"; }

.reason-for-contact select {
  display: none; }

.select-selected {
  background-color: #eee;
  margin-top: 10px; }

.select-selected:after {
  position: absolute;
  content: "";
  top: 55px;
  right: 25px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: black transparent transparent transparent; }

.select-selected.select-arrow-active:after {
  border-color: transparent transparent black transparent;
  top: 50px;
  right: 25px; }

.select-items div, .select-selected {
  color: black;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer; }

.select-items {
  position: absolute;
  background-color: white;
  left: 0;
  right: 0;
  z-index: 99;
  padding-left: 10px;
  padding-right: 10px; }

.select-hide {
  display: none; }

.select-items div:hover, .same-as-selected {
  background-color: #eee; }

.form textarea::placeholder, .form input::placeholder {
  color: black;
  font-family: "courier";
  font-size: 14px; }

.btn-submit {
  border: 1px solid black;
  width: 100px;
  padding: 10px 20px;
  background-color: white;
  color: black;
  font-family: "courier";
  font-size: 16px;
  box-shadow: 2px 3px #d66a42;
  border-radius: 3px;
  cursor: pointer; }

.contact-info {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center; }

.contact-info p {
  margin-top: 0;
  margin-bottom: 5px; }

@media (min-width: 440px) {
  .contact-section h3 {
    text-align: left; }

  .form-inputs {
    display: flex;
    justify-content: space-between; }

  .form-inputs input:nth-child(2), .form-inputs input:last-child {
    margin-left: 5px; } }
@media (min-width: 457px) {
  .checkbox-container-01 {
    margin-left: 20px; }

  .checkbox-container-01, .checkbox-container-02 {
    padding-top: 0;
    padding-bottom: 5px; } }
@media (min-width: 484px) {
  .hours-content {
    margin-top: 30px;
    margin-bottom: 30px; }

  .contact-section {
    margin-top: 40px;
    max-width: auto;
    margin: 0 auto; } }
@media (min-width: 500px) {
  .contact-main-content {
    padding-left: 30px;
    padding-right: 30px; } }
@media (min-width: 600px) {
  .hours-section {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    max-width: 800px;
    margin: 0 auto; }

  .hours-content {
    width: 350px;
    margin-top: 0; }

  .hours-content h2 {
    display: block;
    margin-left: 30px; }

  .hours-columns {
    display: flex;
    justify-content: left;
    margin-left: 30px; }

  .hours-content h2 {
    margin-top: 0; } }
@media (min-width: 650px) {
  .hours-content {
    width: 280px; } }
@media (min-width: 800px) {
  .hours-content {
    width: 230px; } }
@media (min-width: 820px) {
  .hours-content {
    width: 220px; } }
.main-home {
  position: relative;
  top: 0;
  left: 0; }

.home-background-box {
  background-color: #d66a42;
  opacity: 0.1;
  height: 95%;
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.home-main-content {
  position: relative;
  top: 0;
  left: 0;
  z-index: 900;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 900px;
  margin: 0 auto;
  z-index: 800; }

#home-h1 {
  font-size: 10vw;
  line-height: 9vw;
  font-family: "courier";
  color: white;
  margin: 0;
  text-align: center;
  text-shadow: 2px 3px #d66a42; }

.home-banner-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 600; }

#est {
  font-family: "Overpass Mono", monospace;
  color: white;
  margin: 0;
  z-index: 700;
  font-size: 6vw;
  text-shadow: 2px 3px #d66a42;
  text-align: center; }

.section01 h2 {
  color: black;
  font-size: 18px;
  margin: 0 auto;
  padding-top: 30px; }

.quote {
  font-weight: 300;
  font-size: 16px; }

.section01 h2 {
  margin: 0 auto;
  text-align: center; }
.section01 p {
  margin: 0 auto;
  padding: 40px 0;
  line-height: 1.2em; }
.section01 img {
  display: block; }

@media (min-width: 500px) {
  .home-main-content {
    padding-left: 30px;
    padding-right: 30px; } }
@media only screen and (min-width: 600px) {
  #est {
    font-size: 1.8em; } }
@media only screen and (min-width: 700px) {
  .section01 img {
    margin: 0 auto; }

  .top-banner h2 {
    font-size: 28px; }

  .home-main-content {
    padding-left: 50px;
    padding-right: 50px; } }
@media (min-width: 750px) {
  .home-banner-text {
    z-index: 0; } }
@media only screen and (min-width: 1000px) {
  .section01 p {
    margin: 0 auto;
    font-size: 16px; }

  .top-banner h2 {
    font-size: 32px; }

  #est {
    font-size: 2.2em; }

  .home-main-content {
    padding: 0; } }
.cta1, .cta2, .cta3, .cta4 {
  background-size: cover;
  background-repeat: no-repeat;
  width: auto;
  padding: 50px;
  display: block; }

.cta1 {
  background-image: url(../images/our-beer-banner.jpg); }

.cta2 {
  background-image: url(../images/tasting-room-banner.jpg); }

.cta3 {
  background-image: url(../images/about-banner.jpg); }

.cta4 {
  background-image: url(../images/contact-banner.jpg); }

.cta h2 {
  color: white;
  text-shadow: 2px 3px #d66a42;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  text-align: center; }

@media (min-width: 600px) {
  .cta1, .cta2, .cta3, .cta4 {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center; } }
.section3 {
  display: flex;
  justify-content: center;
  align-items: center; }

.section3-content {
  text-align: center; }

.home-address {
  padding-top: 50px;
  padding-left: 20px; }

.home-contact {
  padding-top: 15px;
  padding-left: 15px;
  padding-bottom: 50px; }

.home-address p, .home-contact p {
  margin-bottom: 0;
  margin-top: 0;
  padding-top: 2px; }

/*# sourceMappingURL=styles.css.map */
